:root{
   --color-white: hsl(0, 0%, 100%);
   --color--Slate-300: hsl(212, 45%, 89%);
   --color-Slate-500: hsl(216, 15%, 48%);
   --color-Slate-900: hsl(218, 44%, 22%);
   --weight-400: 400;
   --weight-700: 700;
   --border-radius: 25px;
}


body{
    font-family:'Outfit';
    font-size: 15px;
}

.wrapper{
    margin: auto;
    width: 80%;
    background-color: var(--color--Slate-300);
    padding: 2em;
}

.qr-container{
    max-width: 375px;
    background-color: var(--color-white);
    padding: 1em;
    text-align: center;
    margin: auto;
    box-shadow: 1em 1em 1em var(--color-Slate-500);
    /* margin left right does not affect text??? */
    border-radius: var(--border-radius);
}

.qr-container img{
    display: block;
    width: 100%;
    margin: auto;
    border-radius: var(--border-radius);
}

.qr-container h1{
    margin: 1.5em auto 0;
    font-weight: var(--weight-700);
    font-size: 1.5em;
}

.qr-container p{
    font-size: 1em;
    font-weight: var(--weight-400);
    color: var(--color-Slate-500);
    margin: 1.5em auto;
}

.attribution { 
    font-size: 16px; 
    text-align: center;
    color: var(--color--Slate-300);
    font-weight: var(--weight-700)
}

.attribution a { color: hsl(44, 45%, 44%); }